<div class="card mt-5">
    <div class="card-body">
        <form #quiz="ngForm">
            <!-- TO UPDATE -->
            <div class="form-group">
                <label>Escoja el nombre de la empresa</label>
                <select [(ngModel)]="quiz.name" name="name">
                    <option value="">Seleccione la empresa</option>
                                <option *ngFor="let o of data;">
                                    {{o.name}}
                                </option>
                              </select>
            </div>
            <div class="form-group">
                <label>Alcance comercial de la actividad empresarial</label>
                <div class="form-control">
                    <label class="radio-inline"><input type="radio" name="alcance" value="Local" [ngModel]="quiz.alcance"> Local</label>
                    <label class="radio-inline"><input type="radio" name="alcance" value="Regional" [ngModel]="quiz.alcance"> Regional</label>
                    <label class="radio-inline"><input type="radio" name="alcance" value="Nacional" [ngModel]="quiz.alcance"> Nacional</label>
                    <label class="radio-inline"><input type="radio" name="alcance" value="Internacional" [ngModel]="quiz.alcance"> Internacional</label>
                </div>
            </div>
            <div class="form-group">
                <label>Para realizar el plan anual de su empresa utiliza</label>
                <div class="form-control">
                    <label class="radio-inline"><input  type="radio" value="Plan Estrategico" name="plan" [ngModel]="quiz.plan"> Plan Estrategico</label>
                    <label class="radio-inline"><input  type="radio" value="Plan Operativo Anual" name="plan" [ngModel]="quiz.plan"> Plan Operativo Anual</label>
                </div>
            </div>
            <div class="form-group">
                <label>¿Considera la tecnología de la información como un insumo estratégico de su organización? </label>
                <div class="form-control">
                    <label class="radio-inline"><input type="radio" value="Si" name="estrategico" [ngModel]="quiz.estrategico"> Si</label>
                    <label class="radio-inline"><input type="radio" value="No" name="estrategico" [ngModel]="quiz.estrategico">No</label>
                </div>
            </div>

            <div class="form-group">
                <label>¿Su empresa ofrece servicios mediante comercio electrónico?</label>
                <div class="form-control">
                    <label>  <input type="radio" value="Si" name="eccommerce" [ngModel]="quiz.eccommerce"> Si</label>
                    <label> <input type="radio" value="No" name="eccommerce" [ngModel]="quiz.eccommerce">No</label>
                </div>
            </div>
            <div class="form-group">
                <label>Los procesos en su organización están: </label>
                <div class="form-control">
                    <label for=""><input type="radio" value="Identificados" name="procesos" [ngModel]="quiz.procesos"> Identificados
                    </label>
                    <label for=""><input type="radio" value="Formalizados" name="procesos" [ngModel]="quiz.procesos"> Formalizados
                    </label>
                    <label for=""><input type="radio" value="Automatizados" name="procesos" [ngModel]="quiz.procesos">Automatizados
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>En caso de que utilice bases de datos. ¿Qué motor utiliza para almacenar información de la empresa?  </label>
                <div class="form-control">
                    <label for=""><input type="radio" value="MySql" name="motorbd" [ngModel]="quiz.motorbd"> MySql
                    </label>
                    <label for=""><input type="radio" value="Oracle" name="motorbd" [ngModel]="quiz.motorbd"> Oracle
                    </label>
                    <label for=""><input type="radio" value="Potsgress" name="motorbd" [ngModel]="quiz.motorbd">Potsgress
                    </label>
                    <label for=""><input type="radio" value="NoSql" name="motorbd" [ngModel]="quiz.motorbd">NoSql
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>¿Qué tipo de redes tiene la empresa?</label>
                <div class="form-control">
                    <label for=""><input type="radio" value="LAN" name="red" [ngModel]="quiz.red">LAN
                    </label>
                    <label for=""><input type="radio" value="WAN" name="red" [ngModel]="quiz.red">WAN
                    </label>
                    <label for=""><input type="radio" value="MAN" name="red" [ngModel]="quiz.red">MAN</label>
                </div>
            </div>
            <div class="form-group">
                <button id="save" class="btn btn-primary" type="submit" (click)="onSubmit(quiz)">
                        <i class="fas fa-plus-circle"></i> Guardar
                    </button>
            </div>
        </form>
    </div>
</div>